

.result {
  display: flex;
  min-height: 52px;

  .names {
    flex: 1;

    span {
      opacity: 0.7;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #ffffff0d;
  }

  &:not(:last-of-type) {
    border-bottom: #ffffff0d 1px solid;

  }

}