

.system-neighbors {
  padding: 16px 0;

  h4 {
    padding: 0 24px 8px 24px;
  }

  .result {
    display: flex;
    flex-direction: row;
    padding: 4px 24px;
    transition: all 0.2s ease-in-out;

    .names {
      flex: 1;
    }

    &:hover {
      cursor: pointer;
      background-color: #ffffff0d;
    }
  }
}