
.system-neighbors {
  padding: 16px 0;

  h6 {
    font-weight: normal;
    padding: 0 24px 8px 24px;
  }

  .system-gate {
    padding: 2px 24px;
    height: 36px;
    align-content: center;

    .status {

    }

    .results > span {
      flex: 1;
      font-weight: 300;
      opacity: 0.7;
    }
  }

  .indicator {
    & > div {
      border-color: rgb(208, 28, 28);
    }

    svg {
      height: 28px;
      width: 28px;
    }
  }
}