

.system-statistics {
  display: flex;
  flex-direction: column;
  padding: 16px 0;

  h6 {
    font-weight: normal;
    padding: 0 24px 8px 24px;
  }

  p {
    font-weight: 300;
  }

  & > div {
    display: flex;
    padding: 0px 24px;

    & > div {
      width: 50%;

      h5:not(:last-of-type) {
        padding: 4px 0;
      }
    }
  }
}