@use "sass:meta";
@use '../../../stylesheets/variables.scss';

.feed-drawer {
  position: absolute;
  background-color: rgba(66, 66, 66, 0.15);
  height: 100vh;
  padding: 0 8px;
  width: 316px;
  right: 0;
  top: 0;

  .handle {
    top: 8px;
    left: -32px;
    position: absolute;
    background-color: rgba(66, 66, 66, 0.15);
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .kill-feed {
    @include meta.load-css('Card.scss');

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    display: flex;
    padding: 8px 0;
    overflow-y: scroll;
    flex-direction: column;
    max-height: calc(100vh - 16px);
  }
}

